# Get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=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

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=177c66669df9d6a05ce130f9186d9c55

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Instructions to create kv database here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=****

# Instructions to create a database here: https://vercel.com/docs/storage/vercel-postgres/quickstart
POSTGRES_URL=****
